{% extends 'base.html' %}
{% load static %}

{% block title %}About Us{% endblock %}

{% block content %}
<section class="abt-section">
    <div class="abt-content">
        <div class="image-card">
            <div class="overlay">
                <h4 >About Us</h4>
                <p>Radishare is a next-generation digital platform which offers fingertip solutions to Corporates and Individuals (Professionals). The platform objectively promotes empowerment, efficiency, and measurable solutions to our clients. Radishare is developed and powered by Madde MD LTD for Kenya and Africa at large.</p>
            </div>
        </div>
    </div>
</section>

<section class="cards-section">
    <div class="abtcard">
        <h4>Vision</h4>
        <p>To be the leader in creating and sustaining positive impact in the digital era through unique and measurable initiatives.</p>
    </div>
    <div class="abtcard">
        <h4>Mission</h4>
        <p>To be the leader in creating and sustaining positive impact in the digital era through unique and measurable initiatives. </p>
    </div>
    <div class="abtcard">
        <h4>Core Values</h4>
        <ul>
            <li>Integrity</li>
            <li>Innovation</li>
            <li>Insightful</li>
            <li>Inquisitive</li>
            <li>Measurable</li>
        </ul>
    </div>
</section>
{% endblock %}
