{% extends 'base.html' %}
{% load static %}

{% block title %}Jani AI{% endblock %}

{% block content %}
<div class="janibody">
    <div class="janiabout-section">
        <div class="janioverlay"></div>
        <div class="janicontent">
            <h4>About Jani AI</h4>
            <p>Jani AI Kenya is an innovative program that aims to play a crucial role in addressing climate change 
                by driving the development of technologies, strategies, solutions and integration of Public and Private 
                partnership to reduce the impact of climate change. <br>
                Jani AI utilizes local digital solutions available to many across Kenya and Africa, 
                including but not limited to; Use of WhatsApp, Mobile Application, & enriched Data and 
                Reporting Systems.
            </p>
        </div>
    </div>
</div>
{% endblock %}