{% extends 'base.html' %}
{% load static %}

{% block title %}Jani AI{% endblock %}

{% block content %}
<div class="janibody">
    <div class="janiabout-section">
        <div class="janioverlay">
            <div class="request-button-container">
                <a href="https://forms.gle/qsPrYtqT5pJGdCDs6" target="_blank" class="request-button-link">
                    <button type="button" class="btn btn-success btn-lg">Tree Seedling Request Form</button>
                </a>
            </div>
            
            
        </div>
        <div class="janicontent">
            <h4 style="text-decoration: underline;">About Jani AI</h4>
            <p>Jani AI Kenya is an innovative program that aims to play a crucial role in addressing climate change 
                by driving the development of technologies, strategies, solutions and integration of Public and Private 
                partnership to reduce the impact of climate change. <br>
                Jani AI utilizes local digital solutions available to many across Kenya and Africa, 
                including but not limited to; Use of WhatsApp, Mobile Application, & enriched Data and 
                Reporting Systems.
            </p>
            <h4 style="text-decoration: underline;">Advocacy on Social Media</h4>
            <p>In July 2024, Jani AI launched an advocacy campaign on Climate Change in the Kenya via social media platforms
                 i.e. Facebook, X (twitter), LinkedIn and Tiktok  <br>
                 The advocacy campaign dubbed "Hatua Yetu Future Yetu".
            </p>
            <h4 style="text-decoration: underline;">Campaign Communication Objectives</h4>
            <dl>
                <li>To create awareness on effects of Climate Change</li>
                <li>To communication the power and impact when youth take up climate change actions</li>
                <li>To increase the awareness of the utilization of Artification Inteligence & Technologies in addressing Climate Change in Kenya and Africa</li>
                <li>To encourage Tree Growing at the lowest level i.e. schools, and community </li>
                <li>To advocate for increased Community Based Organization Joint Network in addressing Climate Change</li>
                <li>To lobby for climate change partnerships</li>
            </dl>
        </div>
    </div>

    <div class="latest-posts" style="display: flex; justify-content: center; gap: 20px; padding: 20px 0;">
        <!-- Facebook Embed -->
        <div style="flex: 1; padding: 20px;">
            <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpermalink.php%3Fstory_fbid%3Dpfbid0hA8zaK9V2HjgzqgbkBcEp7koS7QyQMpFiFbHeK7RLLzVHoVZi71jbn6sEPpUYRQkl%26id%3D61551429934718&show_text=true&width=500" 
            width="100%" height="700" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
        </div>
    
        <!-- Instagram Embed -->
        <div style="flex: 1; padding: 20px;">
            <blockquote class="instagram-media" 
            data-instgrm-captioned data-instgrm-permalink="https://www.instagram.com/reel/DBbNpFugfI1/?utm_source=ig_embed&amp;utm_campaign=loading" 
            data-instgrm-version="14" style="background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; padding: 0; width: 100%; height: 700px;">
                <div style="padding:16px;">
                    <a href="https://www.instagram.com/reel/DBbNpFugfI1/?utm_source=ig_embed&amp;utm_campaign=loading" target="_blank"> 
                        <div style="display: flex; flex-direction: row; align-items: center;">
                            <div style="background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 40px; margin-right: 14px; width: 40px;"></div> 
                            <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center;">
                                <div style="background-color: #F4F4F4; border-radius: 4px; height: 14px; width: 100px;"></div>
                                <div style="background-color: #F4F4F4; border-radius: 4px; height: 14px; width: 60px;"></div>
                            </div>
                        </div>
                        <p style="color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin:8px 0; text-align:center;">
                            <a href="https://www.instagram.com/reel/DBbNpFugfI1/?utm_source=ig_embed&amp;utm_campaign=loading" style="color:#c9c8cd;" target="_blank">A post shared by @jani_ai_kenya</a>
                        </p>
                    </a>
                </div>
            </blockquote>
            <script async src="//www.instagram.com/embed.js"></script>
        </div>
    
        <!-- TikTok Embed -->
        <div style="flex: 1; padding: 20px;">
            <blockquote class="tiktok-embed" cite="https://www.tiktok.com/@janiaikenya/video/7429988051549457670" 
            data-video-id="7429988051549457670" style="max-width: 605px;min-width: 325px; height: 700px;">
                <section>
                    <a target="_blank" title="@janiaikenya" href="https://www.tiktok.com/@janiaikenya?refer=embed">@janiaikenya</a>
                    <a title="janiaikenya" target="_blank" href="https://www.tiktok.com/tag/janiaikenya?refer=embed">#janiaikenya</a>
                    <a title="youth" target="_blank" href="https://www.tiktok.com/tag/youth?refer=embed">#youth</a>
                    <a title="kenyantiktok🇰🇪" target="_blank" href="https://www.tiktok.com/tag/kenyantiktok%F0%9F%87%B0%F0%9F%87%AA?refer=embed">#kenyantiktok🇰🇪</a>
                    <a title="climatechange" target="_blank" href="https://www.tiktok.com/tag/climatechange?refer=embed">#climatechange</a>
                    <a title="climateaction" target="_blank" href="https://www.tiktok.com/tag/climateaction?refer=embed">#climateaction</a>
                    <a target="_blank" title="♬ original sound - Jani AI Kenya" href="https://www.tiktok.com/music/original-sound-7429988114896767750?refer=embed">♬ original sound - Jani AI Kenya</a>
                </section>
            </blockquote>
            <script async src="https://www.tiktok.com/embed.js"></script>
        </div>
    </div>
    
    
    <div style="background-color: #004d26; padding: 25px 0;">
        <div class="container text-center">
            <a href="https://www.linkedin.com/company/jani-ai-kenya/" target="_blank" style="color: white; margin: 0 30px; font-size: 30px;">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://www.facebook.com/profile.php?id=61551429934718" target="_blank" style="color: white; margin: 0 30px; font-size: 30px;">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="https://www.instagram.com/jani_ai_kenya?igsh=MXdrNnBjYjA0ZTVm" target="_blank" style="color: white; margin: 0 30px; font-size: 30px;">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.tiktok.com/@janiaikenya?_t=8qwl6l5o2Cr&_r=1" target="_blank" style="color: white; margin: 0 30px; font-size: 30px;">
                <i class="fab fa-tiktok"></i>
            </a>
            <a href="https://x.com/Jani_AI_Kenya?t=cdYB3FTCBeuLjuS1-k1jQQ&s=09" target="_blank" style="color: white; margin: 0 30px; font-size: 30px;">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="mailto:janiaikenya@gmail.com" style="color: white; margin: 0 30px; font-size: 30px;">
                <i class="fas fa-envelope"></i>
            </a>
        </div>
    </div>
    
    
</div>

{% endblock %}