{% extends 'base.html' %}
{% load static %}

{% block title %}Jani AI{% endblock %}

{% block content %}
<div class="janibody">
    <div class="janiabout-section">
        <div class="janioverlay"></div>
        <div class="janicontent">
            <h4 style="text-decoration: underline;">About Jani AI</h4>
            <p>Jani AI Kenya is an innovative program that aims to play a crucial role in addressing climate change 
                by driving the development of technologies, strategies, solutions and integration of Public and Private 
                partnership to reduce the impact of climate change. <br>
                Jani AI utilizes local digital solutions available to many across Kenya and Africa, 
                including but not limited to; Use of WhatsApp, Mobile Application, & enriched Data and 
                Reporting Systems.
            </p>
            <h4 style="text-decoration: underline;">Advocacy on Social Media</h4>
            <p>In July 2024, Jani AI launched an advocacy campaign on Climate Change in the Kenya via social media platforms
                 i.e. Facebook, X (twitter), LinkedIn and Tiktok  <br>
                 The advocacy campaign dubbed "Hatua Yetu Future Yetu".
            </p>
            <h4 style="text-decoration: underline;">Campaign Communication Objectives</h4>
            <dl>
                <li>To create awareness on effects of Climate Change</li>
                <li>To communication the power and impact when youth take up climate change actions</li>
                <li>To increase the awareness of the utilization of Artification Inteligence & Technologies in addressing Climate Change in Kenya and Africa</li>
                <li>To encourage Tree Growing at the lowest level i.e. schools, and community </li>
                <li>To advocate for increased Community Based Organization Joint Network in addressing Climate Change</li>
                <li>To lobby for climate change partnerships</li>
            </dl>
        </div>
    </div>
</div>
{% endblock %}