{% extends 'base.html' %}
{% load static %}

{% block title %}What We Do{% endblock %}

{% block content %}
<header class="header">
    <h4>Partnerships</h4>
</header>
<div class="lookubody">
    <div class="lookuabout-section">
        <div class="lookuoverlay"></div>
        <div class="lookucontent">
            <h4 >Looku Hub Kenya</h4>
            <p>Looku Hub is a Kenyan Local E-Marketplace Website complimented by a Mobile Application. Through scientifically sound market research, 
                Looku Hub has identified inefficiencies in the Kenyan Online Market and structured solutions to create a Profitable,
                 Thriving, Convenient and Accessible business between Sellers and their Buyers.</p>

            <h5 >Our Deliverables & Impact</h5>
            <p >WhatsApp and Website Learning</p>
            <ul>
                <li>Radishare supports Looku Hub to avail Financial Literacy to small business owners on its platform.</li>
                <li>The “Financial Management for a Small Business” Course is availed both on WhatsApp and website.</li>
                <li>Radishare also supports with content creation for marketing the course on social media and on the whatsapp learning platform </li>
                <li>AI Integrated feature (on WhatsApp) to support personalization of learning content.</li>
                <li>In the WhatsApp based course Looku Hub markets its products and features to users</li>
            </ul>
            <h5>Brand, Design and Social Media Management</h5>
            <p>Radishare supports Looku Hub’s Communication and Branding strategies as follows:</p>
            <ul>
                <li>Designing and sustaining the Looku Hub Brand</li>
                <li>Managing social media campaigns and content- comprised of: developing a campaign & marketing strategy, creating content,
                     scheduling its publishment, interacting with users, growing reach,and monitoring the performance of the company's accounts on social media.																									 </li>
            </ul>
        </div>
    </div>
</div> 

<div class="janipartbody">
    <div class="janipartabout-section">
        <div class="janipartoverlay"></div>
        <div class="janipartcontent">
            <h4>Jani AI Kenya</h4>
            <p>Jani AI Kenya is an innovative program that aims to play a crucial role in addressing 
                climate change by driving the development of technologies, strategies, solutions, and integration 
                of Public and Private partnership to reduce the impact of climate change. Jani AI utilizes local 
                digital solutions available to many across Kenya and Africa, including but not limited to; 
                Use of WhatsApp, Mobile Application, & enriched Data and Reporting Systems</p>

            <h4>Radishare Kenya's Impact</h4>
                <p>1. Jani AI Kenya brand management</p>
                <p>2. Jani AI social media management and campaign management</p>
                <p>3. Jani AI marketing agency </p>
        </div>
    </div>
</div>

<section class="logos-section">
    <h2>Our Partners</h2>
    <div class="logos-container">
        <img src="{% static 'images/lookhub.jpg' %}" alt="Partner Logo 1">
        <img src="{% static 'images/madde.jpg' %}" alt="Partner Logo 2">
        <img src="{% static 'images/jani.jpeg' %}" alt="Partner Logo 3">
    </div>
</section>
{% endblock %}