{% extends 'base.html' %}

{% block title %}Success{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h4>File Transfer Successful</h4>
            </div>
            <div class="card-body">
                <h5 class="card-title">The file transfer to <span style="color:red;">{{ transfer.receiver_email }}</span> was successful.<br> Here are the details:</h5>
                <p class="card-text">
                <ul>
                    <li><b>Title:</b> {{ transfer.title }}</li>
                    <li><b>Message:</b> {{ transfer.message }}</li>
                    <li><b>Files:</b></li>
                    {% for file in files %}
                        <a href="{{ file.file.url }}" class="btn btn-primary" style="margin: 5px; padding: 5px;">{{ file.file.name }}</a><br>
                    {% endfor %}
                </ul>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>
{% endblock %}
