{% extends 'base.html' %}

{% block title %}Verify OTP{% endblock %}

{% block content %}
<div class="row otp-verify">
    <div class="col-md-3"></div>
    <div class="col-md-4"  style="margin-top: 80px; margin-left: 50px;">
        <div class="container">
            <center><h4 style="text-decoration: underline; color: white;">Verify OTP</h4></center>
            <center><p style="color: white;">A verification code was sent to <h5 style="color: red;">{{ transfer.sender_email }}</h5><br>
                <p style="color: white;">Please enter the code below to verify your file transfer.</p></p></center>
            <center><form method="post" style="margin-bottom: 30px;">
                {% csrf_token %}
                <div class="form-group">
                    <label for="otp">OTP:</label>
                    <input type="text" id="otp" name="otp" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary" style="margin-bottom: 10px; padding: 10px;">Verify</button>
            </form></center>
        </div>
    </div>
    <div class="col-md-5"></div>
</div>
{% endblock %}
