{% extends 'base.html' %}
{% load static %}

{% block title %}What We Do{% endblock %}

{% block content %}
<div class="row services-details">
    <div class="core-values col-md-5">
        <h4>Core Values</h4>
        <ul>
            <li>Integrity</li>
            <li>Innovation</li>
            <li>Insightful</li>
            <li>Measurable</li>
        </ul>
    </div>
    <div class="col-md-7">
        <h2>Our Services</h2>
        <h5>1. Develop E-Learning/Mobile learning courses based on WhatsApp, Web and USSD platforms.</h5>
        <h5>2. Provide a marketing opportunity through the developed e-content/courses and platforms.</h5>
        <h5>3. Brand & campaign Management and Digital Marketing.</h5>
        <h5>4. Develop and conduct mini surveys on WhatsApp, & Web platforms.</h5>
        <h5>5. Website Development and Management.</h5>
        <h5>6. Sending and receiving files for free on Radishare platform </h5>
    </div>
</div>
{% endblock %}
