{% extends 'base.html' %}
{% load static %}

{% block title %}What We Do{% endblock %}

{% block content %}
    <header class="header">
        <h4 style="text-decoration: underline;">Practice Area</h4>
    </header>

    <section class="grid-section">
        <div class="grid-container">
            <div class="grid-item">
                <img src="{% static 'images/look-04.png' %}" alt="Image 1" >
                <h5 >E-Learning</h5>
            </div>
            <div class="grid-item">
                <img src="{% static 'images/look-05.png' %}" alt="Image 2">
                <h5>Digital Health</h5>
            </div>
            <div class="grid-item">
                <img src="{% static 'images/look-08.png' %}" alt="Image 3">
                <h5>Climate Change</h5>
            </div>
            <div class="grid-item">
                <img src="{% static 'images/look-06.png' %}" alt="Image 4">
                <h5>MSME Network</h5>
            </div>
        </div>
    </section>

    <section class="grid-section">
        <div class="grid-container">
            <div class="grid-item">
                <img src="{% static 'images/look-07.png' %}" alt="Image 4">
                <h5>Branding</h5>
            </div>
            <div class="grid-item">
                <img src="{% static 'images/look-09.png' %}" alt="Image 5">
                <h5>Digital Marketing</h5>
            </div>
            <div class="grid-item">
                <img src="{% static 'images/look-01.png' %}" alt="Image 6">
                <h5>Research AI & IT</h5>
            </div>
            <div class="grid-item">
                <img src="{% static 'images/look-02.png' %}" alt="Image 7">
                <h5>Corporate Tools</h5>
            </div>
        </div>
    </section>
    <section class="grid-section">
        <div class="grid-container">
            <div class="grid-item">
                <img src="{% static 'images/look-03.png' %}" alt="Image 8">
                <h5>Consultancy</h5>
            </div>
        </div>
    </section>

    <section class="services-section">
        <h4>Our Services</h4>
        <div class="services-container">
            <div class="service-item">
                <p>Develop E-Learning/Mobile learning courses based on WhatsApp, Web and USSD platforms.</p>
            </div>
            <div class="service-item">
                <p>Provide a marketing opportunity through the developed e-content/courses and platforms.</p>
            </div>
            <div class="service-item">
                <p>Brand & Campaign Management and Digital Marketing.</p>
            </div>
            <div class="service-item">
                <p>Develop and conduct mini surveys on WhatsApp, & Web platforms.</p>
            </div>
            <div class="service-item">
                <p>Website Development and Management.</p>
            </div>
            <div class="service-item">
                <p>Sending and receiving files for free on Radishare platform.</p>
            </div>
        </div>
    </section>
</body>
</html>

{% endblock %}
