/* General Website Style rules */
@font-face {
  font-family: 'MADE TOMMY';
  src: url('/static/fonts/MADE TOMMY Light_PERSONAL USE.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
body {
    font-family: 'MADE TOMMY', sans-serif !important;
    font-size: 12px !important;
    background-color: #F9F1E4 !important;
    color: #292A2D;
    margin: 0;
    padding: 0;
    height: 80%;
    overflow-y: auto; 
  }
  /* Navbar styles */
  /* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: inherit;
  color: black;
  padding: 0;
  margin: 0;
  width: 100%;
  z-index: 1000;
}

.logo {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.center-links {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Adjust spacing between center links as needed */
}

.auth-links {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px; /* Adjust spacing between auth links as needed */
}

.contact-info {
  display: flex;
  align-items: center;
}

.contact-info span {
  margin-right: 10px;
}

.login-link, .home-link, .other-links {
  color: black;
  text-decoration: none;
  font-size: 17px;
}

.dropdown, .dropdownpricing {
  position: relative;
  display: inline-block;
}

.dropdown-content, .dropdownpricing-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdownpricing-content {
  min-width: 800px;
}

.dropdown-content a, .dropdownpricing-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover, .dropdownpricing-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content, .dropdownpricing:hover .dropdownpricing-content {
  display: block;
}

.img {
  width: 150px;
  height: 60px;
  margin: 0;
  padding: 0;
}

/* footer */
  .mainfooter {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1f493d !important;
    color: white;
    text-align: center;
    margin:0;
    padding:0;
    height: 25px;
 }

 .mainfooter i {
  font-size: xx-small;
  margin-left: 2.5px;
  float: right;
  height: 5px;
  margin: 0;
  padding: 0;
 }

.container {
  width: 100%;
  margin: 0;
}
.message {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}
.message-success {
  border-color: #4CAF50;
  color: #4CAF50;
}
.bottomnav{
  background-color: #1f493d;
    color: white;
    margin-top: 10px;
}
.social-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Adjust the gap between icons as needed */
}

.social-icons a {
  display: inline-block;
  width: 50px; /* Adjust width to your preference */
  text-align: center;
  margin: 5px 10px; /* Adjust margins as needed */
}

.social-icons a:nth-child(odd) {
  clear: both;
}

/* Responsive styles for screens smaller than 600px */
@media screen and (max-width: 768px){
  body {
      font-size: 14px;
  }

  .container {
      width: 100%;
  }
}

/* Responsive styles for screens between 601px and 900px */
@media screen and (min-width: 601px) and (max-width: 900px) {
  body {
      font-size: 16px;
  }
}

/* Responsive styles for screens larger than 900px */
@media screen and (min-width: 901px) {
  body {
      font-size: 18px;
  }
}

